version: 2.1
name: Docker Image CI

on:
  push:
    branches: [ "test" ]
  pull_request:
    branches: [ "test" ]

jobs:
  build:
    machine: true
    steps:
      - uses: actions/checkout@v3
      - name: Build the Docker image
        run: | 
          docker build . --file Dockerfile --tag my-image-name
