name: CI

on:
  push:
    branches: [ "test" ]
jobs:
  build:
    machine: true
      image: ubuntu-2004:202010-01
    step:
      name: Run a one-line script
      run: echo Hello, world!
    step:
      name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.

