name: CI

on:
  push:
    branches: [ "test" ]
jobs:
  build:
    machine: "true"
    steps:
      - name: Check out the repo
        run: actions/checkout@v3
      - name: Run a one-line script
        run: echo Hello, world!
     

