name: CI

on:
  push:
    branches: [ "test" ]
jobs:
  build:
    machine: "true"
    steps:
      name: Check out the repo
      run: actions/checkout@v3

     



      name: echo 
      run: echo "hi "
