name: CI

on:
  push:
    branches: [ "test" ]
jobs:
  build:
    machine: true
    step:
      name: Check out the repo
      uses: actions/checkout@v3
      name: Run a one-line script
      run: echo Hello, world!
     

