# name: CI

# on:
#   push:
#     branches: [ "test" ]
# jobs:
#   build:
#     docker:
#       - image: cimg/base:2022.09
#     # name: Push Docker image to Docker Hub
#     # runs-on: ubuntu-latest
#     steps:
#       - name: Check out the repo
#         uses: actions/checkout@v3
      
#       - name: Check o
#         run: echo hii

#       - name: Log in to Docker Hub
#         uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
#         with:
#           username: refaelb
#           password: Rootroot316444058

#       - name: Extract metadata (tags, labels) for Docker
#         id: meta
#         uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
#         with:
#           images:refael058325/infi
      
#       - name: Build and push Docker image
#         uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
#         with:
#           context: .
#           push: true
#           tags: ${{ steps.meta.outputs.tags }}
#           labels: ${{ steps.meta.outputs.labels }}
#       # name: echo 
#       # run: echo "hi "


jobs:
  build:
    # macos:
    #   xcode: 13.4.1
    docker:
        - image: cimg/go:1.17
    steps:
      - setup_remote_docker:
          version: 20.10.14
          docker_layer_caching: true

      - checkout # check out the code in the project directory
      - run: |
          `export PATH=.cirecleci/ci-env:"$PATH" >> "$BASH_ENV"` 
          echo 'source "$BASH_ENV"'
      - run: set -a && . ./ci-env && set +a && echo $IMAGE_NAME
      - run: echo $IMAGE_NAME
      - run: echo "hello world" # run the `echo` command
      - run: ls -a
      # - run: git checkout test
      - run: docker build -t ${IMAGE_NAME}:v5.0 dev/back/
      - run: docker push  